.nav {
    background-color: rgb(67, 66, 66);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-links {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: rgb(67, 66, 66);
}

.nav-title {
    color: white;
    font-family: roboto;
    font-weight: lighter;
}

.btn {
    background-color: rgb(13, 207, 210);
    box-shadow: 5px 2px 2px black;
    color: white;
}

a {
    color: white;
    text-decoration: none;

}

.active {
    font-family: sans-serif;
}
