* {
    margin: 0px;
    padding: 0px;
}

#container {
    width: 800px;
    margin: 0px auto;
}

#header {
    height: 60px;
    background-color: rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titles {
    font-family: cursive;
    font-weight: lighter;
}

#search {
    height: 20px;
    width: 300px;
}

#login {
    width: 60px;
    height: 30px;
    background-color: rgb(43, 120, 228);
    color: white;
    box-shadow: 2px 2px black;
}

.top {
    display: flex;
    justify-content: space-between;
}

.ninjas {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    padding-right: 60px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 130px;
    margin-left: -40px;
}

.noun {
    font-family: cursive;
}

.plural {
    font-family: cursive;
}

.yellow-btn {
    background-color: rgb(255, 217, 102);
    box-shadow: 2px 2px black;
    padding: 5px 10px;
    font-weight: bolder;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.dojonary {
    width: 260px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#green-btn {
    background-color: rgb(147, 196, 125);
    box-shadow: 3px 3px black;
    width: 150px;
    height: 30px;
    font-family: cursive;
    font-weight: bolder;
}

p {
    font-family: cursive;
}