/* universal selector reset default  */
* {
    margin: 0px;
    padding: 0px;
}

/* Container styling start */

#container {
    width: 550px;
    margin: 0 auto;
}

/* Container styling end */

/* Header styling start */

.head{
    background-color: black;
    padding: 10px 20px;
}

#title{
    color: white;
    font-family:sans-serif;
    font-weight: 100;
}

#feed{
    margin-left: 200px;
    font-family: sans-serif;
    font-weight: 200;
}

/* Header styling end */

/* Main styling start */
#main{
    display: flex;
    justify-content: space-between;
}

.userCard{
    border: 3px solid black;
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img{
    width: 100px;
    height: 100px;
}

.feedCards{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedCard {
    border: 3px solid black;
    width: 300px;
    /* margin-top: 20px; */
    padding: 20px;
    font-family: cursive;
}

.feedCardTop {
    display: flex;
    justify-content: space-between;
}

.feedCardLeft {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.feedCardLeft button{
    background-color: #FFD966;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    padding: 5px 10px;
    margin-left: 10px;
}
/* Main styling end */